html, body {
  margin: 0;
  padding: 0;
  font-family: 'Noticia Text',serif;
    background: #E8E4E4;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/* .jumbotron */
.jumbotron {
    height: 100px;
    background-size: cover;
}

.jumbotron h1{
    color: #4D4D4D;
    padding: 0 0;
    margin: 20px 0 0 0;
    text-align: left;
    font-size: 43px;
    font-weight: bold;
}

.jumbotron h3{
    color: #4D4D4D;
    padding: 0 0;
    margin:0 auto;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

/* .header */
.header{
	width: 100%;
	height: 60px;
	
}
.header .nav {
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 0;
    height: 40px;
    width: 100px;
}

.header .nav a{
  color: #8A8A8A;
  font-weight: 700;
  font-size: 16px;
  display: inline;
  position: center;
  padding: 20px 0;
  text-transform: uppercase;
  transition: color .5s;
  text-decoration: none;
}

.header .nav a:hover{
    color: #89CFD4;
    cursor: pointer;
}

/* .main */
.main{
    clear: both;
    width: 100%
}

.main h1{
    font-size: 80px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    color: #4D4D4D;
}

.main img{
    float: left;
    height: 385px;
    width: 380px;
    margin: 30px 80px 50px 0;
    border-radius: 50%;
}

.main .sec_left{
    width: 60%;
    height: 1300px;
    margin: 0 0;
    display: inline-block;
    float: left;
}

.main .sec_right{
    width: 40%
    height: 1300px;
    margin: 0 0;
    display: inline-block;
    float: left;
}

.main .buttons{
    border-top: 1px solid #000000;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main .buttons .button{
     width:50px;
    height:50px;
    line-height: 50px;
    margin: 10px 26px 10px 0;
    border-radius:50%;
    text-align:center;
    background-color:#E83556;
    display: block;
    font-size: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    padding: 20px 20px;
}

.main .buttons0{
    margin-left: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: none;
}

.main .buttons0 .button0{
     width:20px;
    height:20px;
    line-height: 20px;
    margin: 10px 0 40px 0;
    border-radius:50%;
    text-align:center;
    background-color:#89CFD4;
    display: block;
    font-size: 8px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px 20px;
}

.buttons #button1{
    margin-bottom: 40px;
}

.buttons #button2{
    margin-bottom: 420px;
}

.buttons #button3{
    margin-bottom: 300px;
}

.main .buttons p{
    font-size: 8;
    color: #4E4E4E;
    text-align: justify;
    font-weight: 300;
}

.main .buttons h1{
    font-size: 17px;
    font-weight: 400;
    margin: 30px 0 0 0;
    padding: 0;
}

.main .buttons h2{
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.main .buttons0 h3{
    font-size: 17px;
    font-weight: 300;
    margin-right: 100px;
}

.main .buttons0 ul{
    list-style-type: none;
    font-size: 14px;
    color: #4D4D4D;
    font-family: 'Open Sans',serif;
    padding: 0;
    line-height: 25px;
}
/* .footer */
.footer{
    background: #E83556;
    clear: both;
    width: 100%
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 0;
    height: 80px;
}

.footer .col{
    float: left;
    width: 33%;
    text-align: center;
    display: inline;
}

.footer .col h2{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.footer .col p{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 0 0px;
    margin-bottom: 40px;
}

.footer .col a{
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
    padding: 0 50px;
    margin-bottom: 40px;
    text-decoration: none;
    transition: color 0.5s;
}

.footer .col a:hover{
    color: #89CFD4;
    cursor: pointer; 
}
@media (max-width: 500px) {
  .main h1 {
    font-size: 80px;
    padding: 0 40px;
  }

  .supporting .col {
    width: 100%;
  }
}